@font-face {
  font-family: "candara";
  src: url("/fonts/Candara.ttf");
  font-weight: 400; }
@font-face {
  font-family: "candara";
  src: url("/fonts/Candara_Bold.ttf");
  font-weight: 600; }
body {
  margin: 0;
  font-family: candara; }

.--cabecera {
  background: #86a4bf;
  background: -moz-linear-gradient(top, #34394c, #86a4bf);
  background: -webkit-gradient(linear, left top, left bottom, from(#34394c), to(#86a4bf));
  width: 100%;
  position: fixed;
  z-index: 10; }

.--imgMDC {
  background-color: rgba(0, 0, 255, 0); }
  .--imgMDC img {
    display: block;
    margin: auto;
    width: 70px;
    height: auto; }
  .--imgMDC .--titulo {
    background-color: rgba(0, 0, 255, 0);
    width: 100%; }
    .--imgMDC .--titulo h1 {
      text-align: center;
      font-size: medium;
      width: auto; }
  .--imgMDC .--idiomaCol {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    width: fit-content; }
    .--imgMDC .--idiomaCol .--idioma {
      width: 80%;
      margin-right: 5px; }

.--registro {
  background-color: rgba(0, 0, 255, 0);
  width: fit-content;
  padding-top: 15px; }
  .--registro a {
    text-decoration: none;
    font-weight: 600;
    color: #f7f7f7; }

.--login {
  background-color: rgba(0, 0, 255, 0);
  width: fit-content;
  padding-top: 15px; }
  .--login a {
    width: auto; }
    .--login a img {
      display: block;
      margin: auto;
      width: 25px; }

.--menuSuperior {
  background-color: #34394c;
  width: 100%;
  position: fixed;
  z-index: 10; }
  .--menuSuperior ul {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
    .--menuSuperior ul li {
      list-style: none;
      align-content: center; }
      .--menuSuperior ul li a {
        position: relative;
        text-decoration: none;
        font-size: larger;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0 10px;
        color: #f7f7f7;
        transition: 0.7s; }

.--seccion {
  background-color: #e1ba97;
  width: 100%;
  padding-top: 104.54px; }

.--asideL {
  background-color: #34394c;
  display: flex;
  flex-direction: column;
  width: fit-content; }
  .--asideL ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 2em; }
    .--asideL ul li {
      list-style: none;
      align-content: center;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 2em;
      width: fit-content; }
      .--asideL ul li a {
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        color: #f7f7f7; }

.--centro {
  background-color: #e1ba97; }
  .--centro .--centroInferior {
    flex-direction: row; }
    .--centro .--centroInferior .--matriculas {
      background-color: #707070;
      margin: 2em;
      width: 60%;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      z-index: 1; }
      .--centro .--centroInferior .--matriculas .--h2Not {
        background: #34394c;
        background: -moz-linear-gradient(top, #6194bb, #34394c);
        background: -webkit-gradient(linear, left top, left bottom, from(#6194bb), to(#34394c)); }
        .--centro .--centroInferior .--matriculas .--h2Not h2 {
          text-align: center;
          color: #f7f7f7; }
      .--centro .--centroInferior .--matriculas .--scrollMat {
        background-color: #f0e8dc;
        background-color: #f0e8dc;
        width: auto;
        height: 10em;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px; }
        .--centro .--centroInferior .--matriculas .--scrollMat .--matriItem {
          background-color: #f0e8dc;
          margin-bottom: 5px; }

#cita {
  background-color: rgba(0, 0, 255, 0);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30px;
  padding-top: 20px;
  z-index: 1; }
  #cita .--citaRA {
    background-color: rgba(0, 0, 255, 0);
    border-style: groove;
    border-color: #f7f7f7;
    padding: 5px; }
    #cita .--citaRA p {
      font-size: larger;
      font-weight: 400;
      color: #f0e8dc; }
      #cita .--citaRA p span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 100;
        font-style: italic; }

.--saludo {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30px;
  padding-top: 20px; }
  .--saludo .saludoDir {
    border-style: groove;
    border-color: #f7f7f7;
    padding: 5px; }
    .--saludo .saludoDir h2 {
      color: #34394c; }
    .--saludo .saludoDir p {
      font-size: larger;
      font-weight: 400;
      color: #34394c; }
      .--saludo .saludoDir p span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 100;
        font-style: italic; }

.--carousel {
  background-color: #e1ba97;
  margin-top: 15px;
  align-self: center; }

.--imgCarou {
  width: 100%; }

.--noticias {
  background-color: rgba(0, 0, 255, 0);
  margin-top: 30px;
  z-index: 0; }

.--divNoticias {
  background-color: rgba(0, 0, 255, 0);
  width: 100%;
  z-index: 1; }
  .--divNoticias .--h2Div {
    background: #34394c;
    background: -moz-linear-gradient(top, #6194bb, #34394c);
    background: -webkit-gradient(linear, left top, left bottom, from(#6194bb), to(#34394c)); }
    .--divNoticias .--h2Div h2 {
      text-align: center;
      color: #f7f7f7; }
  .--divNoticias .--scroll {
    background-color: #707070;
    height: 35em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); }
    .--divNoticias .--scroll .--noticia {
      background-color: #f0e8dc;
      width: auto;
      height: 10em;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 15px; }
      .--divNoticias .--scroll .--noticia h5 {
        color: #34394c; }
      .--divNoticias .--scroll .--noticia p {
        color: #34394c; }

#cal {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
  display: table;
  height: fit-content;
  z-index: 1; }

#cal .header {
  cursor: default;
  background: #34394c;
  background: -moz-linear-gradient(top, #6194bb, #34394c);
  background: -webkit-gradient(linear, left top, left bottom, from(#6194bb), to(#34394c));
  height: 34px;
  position: relative;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  text-shadow: 0px -1px 0 #87260C;
  text-transform: uppercase; }

#cal .header span {
  display: inline-block;
  line-height: 34px; }

#cal .header .hook {
  width: 9px;
  height: 28px;
  position: absolute;
  bottom: 60%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ececec;
  background: -moz-linear-gradient(right top, #fff, #827e7d);
  background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#827e7d));
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65); }

.right.hook {
  right: 15%; }

.left.hook {
  left: 15%; }

#cal .header .button {
  width: 24px;
  text-align: center;
  position: absolute; }

#cal .header .left.button {
  left: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid #ae2a0c; }

#cal .header .right.button {
  right: 0;
  top: 0;
  border-left: 1px solid #ae2a0c;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px; }

#cal .header .button:hover {
  background: -moz-linear-gradient(top, #d94215, #bb330f);
  background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f)); }

#cal .header .month-year {
  letter-spacing: 1px;
  width: 100%;
  text-align: center; }

#cal table {
  background: #fff;
  border-collapse: collapse; }

#cal td {
  color: #2b2b2b;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #e6e6e6;
  cursor: default; }

#cal #days td {
  height: 26px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 90%;
  color: #34394c; }

#cal #days td:not(:last-child) {
  border-right: 1px solid #fff; }

#cal #cal-frame td.today {
  background: #ededed;
  color: #8c8c8c;
  box-shadow: 1px 1px 0px #fff inset;
  -moz-box-shadow: 1px 1px 0px #fff inset;
  -webkit-box-shadow: 1px 1px 0px #fff inset; }

#cal #cal-frame td:not(.nil):hover {
  color: #fff;
  text-shadow: #6C1A07 0px -1px;
  background: #CD310D;
  background: -moz-linear-gradient(top, #b32b0c, #cd310d);
  background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d));
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px; }

#cal #cal-frame td span {
  font-size: 80%;
  position: relative; }

#cal #cal-frame td span:first-child {
  bottom: 5px; }

#cal #cal-frame td span:last-child {
  top: 5px; }

#cal #cal-frame table.curr {
  float: left; }

#cal #cal-frame table.temp {
  position: absolute; }

.dropdown-menu {
  background-color: #34394c; }

.dropDown {
  background-color: #34394c; }

.btn-secondary {
  background-color: #34394c;
  width: 120px; }

#lista2 .btn-secondary {
  background-color: #34394c;
  width: 90%; }
#lista2 .btn-secondary:hover {
  background-color: #707070; }

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #34394c;
  margin-top: 0; }

.--pie {
  z-index: 7; }
  .--pie .--filaPie {
    display: flex;
    align-content: center;
    z-index: 8;
    background-color: rgba(52, 57, 76, 0.667); }
    .--pie .--filaPie .--imgJA {
      display: flex;
      flex-direction: column;
      align-content: center;
      z-index: 9;
      background-color: rgba(52, 57, 76, 0.667); }
      .--pie .--filaPie .--imgJA img {
        display: block;
        margin: auto;
        width: 120px;
        height: auto;
        z-index: 10; }
    .--pie .--filaPie .--imgMin {
      display: flex;
      flex-direction: column;
      align-content: center;
      z-index: 9;
      background-color: rgba(52, 57, 76, 0.667); }
      .--pie .--filaPie .--imgMin img {
        display: block;
        margin: auto;
        width: 90%;
        height: auto;
        z-index: 10; }
    .--pie .--filaPie .--contacto {
      display: flex;
      flex-direction: column;
      align-content: center;
      background-color: rgba(52, 57, 76, 0.667);
      z-index: 9; }
      .--pie .--filaPie .--contacto h4 {
        align-self: center;
        font-weight: 600;
        color: #f0e8dc;
        z-index: 10; }
      .--pie .--filaPie .--contacto ul {
        align-self: center;
        z-index: 10; }
        .--pie .--filaPie .--contacto ul li {
          list-style: none;
          font-size: larger;
          font-weight: 600;
          color: #f0e8dc;
          z-index: 10; }
    .--pie .--filaPie .--social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 9;
      background-color: rgba(52, 57, 76, 0.667); }
      .--pie .--filaPie .--social a {
        display: flex;
        flex-direction: column;
        align-content: center; }
        .--pie .--filaPie .--social a img {
          display: block;
          margin: auto;
          width: 100px;
          height: auto;
          z-index: 10; }

#video_background {
  z-index: 0;
  position: fixed;
  width: 100%; }

@media screen and (max-width: 576px) {
  .--imgMDC {
    width: auto; }

  .--cabecera {
    width: 100%; }
    .--cabecera .--filaHeader {
      display: flex;
      align-items: flex-end; }
      .--cabecera .--filaHeader .--imgMDC {
        width: fit-content; }
        .--cabecera .--filaHeader .--imgMDC img {
          width: 40px; }
      .--cabecera .--filaHeader .--titulo {
        width: 100%; }
      .--cabecera .--filaHeader .--idiomaCol {
        width: 100%; }
      .--cabecera .--filaHeader .--login {
        width: 50%; }
      .--cabecera .--filaHeader .--registro {
        width: 50%; }

  .--seccion {
    padding-top: 150px; }

  #cita {
    width: 100%; }
    #cita .--citaRA {
      padding: 2px; }
      #cita .--citaRA p {
        font-size: smaller; }

  .--centroInferior {
    flex-direction: column; }
    .--centroInferior .--matriculas {
      margin: 0;
      width: 100%; }
      .--centroInferior .--matriculas .--h2Not h2 {
        font-size: smaller; }

  .--pie {
    display: none; }

  .--noticias {
    width: 100%; }

  .--centro {
    width: 100%; }

  #matris {
    width: 100%;
    flex-direction: column; }

  .--matriculas {
    width: 100%; } }
@media screen and (max-width: 992px) {
  .--carousel {
    width: 100%; }

  .--asideL {
    display: none; }

  #navBar {
    width: fit-content; } }
@media screen and (max-width: 1200px) {
  .--carousel {
    display: none; }

  .--noticias {
    background-color: rgba(0, 0, 255, 0);
    margin-top: 30px;
    width: 100%; } }
@media screen and (max-width: 1278px) {
  .--saludo {
    width: 700px; }

  .--asideL {
    display: none; }

  .--pie {
    justify-content: space-between;
    background-color: rgba(52, 57, 76, 0.667); }
    .--pie .--filaPie {
      justify-content: space-between;
      z-index: 8;
      background-color: rgba(52, 57, 76, 0.667); }
      .--pie .--filaPie .--imgMin {
        display: none; }
      .--pie .--filaPie .--imgJA {
        display: none; } }

/*# sourceMappingURL=styles.css.map */
